<header>
    <div class="logo">
        Hotel Reservation
    </div>

    <ul class="header_menu">
        <li class="header_menu_item">ログイン</li>
        <li class="header_menu_item">新規登録</li>
    </ul>
</header>
