<header>
    <a href="/" class="header_logo_url">
        <div class="logo">
            Hotel Reservation
        </div>
    </a>

    <ul class="header_menu">
        <li class="header_menu_item">ログイン</li>
        <li class="header_menu_item">新規登録</li>
    </ul>
</header>
