<%= render "shared/header" %>

<div class="reservations_index">
    <h2>予約済み一覧</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">予約確定日時</th>
            <th scope="col">チェックイン</th>
            <th scope="col">チェックアウト</th>
            <th scope="col">合計料金</th>
            <th scope="col">施設名</th>
            <th scope="col">画像</th>
            <th scope="col">紹介文</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
            <td>yyyy/mm/dd HH:MM</td>
            <td>yyyy/mm/dd</td>
            <td>yyyy/mm/dd</td>
            <td>¥0,000</td>
            <td>施設名</td>
            <td><img src="/default-room copy.png" class="card-img-top" alt="..." height="70"></td>
            <td>紹介文紹介文紹介文紹介文紹介文紹介文</td>
            </tr>

            <tr>
            <td>yyyy/mm/dd HH:MM</td>
            <td>yyyy/mm/dd</td>
            <td>yyyy/mm/dd</td>
            <td>¥0,000</td>
            <td>施設名</td>
            <td><img src="/default-room copy.png" class="card-img-top" alt="..." height="70"></td>
            <td>紹介文紹介文紹介文紹介文紹介文紹介文</td>
            </tr>

            <tr>
            <td>yyyy/mm/dd HH:MM</td>
            <td>yyyy/mm/dd</td>
            <td>yyyy/mm/dd</td>
            <td>¥0,000</td>
            <td>施設名</td>
            <td><img src="/default-room copy.png" class="card-img-top" alt="..." height="70"></td>
            <td>紹介文紹介文紹介文紹介文紹介文紹介文</td>
            </tr>
        </tbody>
    </table>
</div>
