<%= render "shared/header"%>

<div class="reservations_new">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">予約確認</h5>
            <p class="card-text">チェックイン：yyyy/mm/dd</p>
            <p class="card-text">チェックアウト：yyyy/mm/dd</p>
            <p class="card-text">宿泊日数：日</p>
            <p class="card-text">宿泊人数：人</p>
            <p class="card-text">お支払い金額：円</p>
            <p class="card-text">内容にお間違いがなければ『予約確定』ボタンを押してください</p>
            <a href="#" class="btn btn-primary">予約確定</a>
        </div>
    </div>
    <a href="index" class="btn btn-secondary">一覧に戻る</a>
</div>
