<%= render "shared/header" %>

<main>
    <div class="card-area">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="/default-room copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">施設名</h5>
                <p class="card-text">紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">住所:東京都大阪京都札幌</li>
                    <li class="list-group-item">宿泊料金：¥0,000（/日）</li>
                    <a href="#" class="btn btn-secondary">詳細はこちら</a>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">作成日：yyyy/mm/dd</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/default-room copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">施設名</h5>
                <p class="card-text">紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">住所:東京都大阪京都札幌</li>
                    <li class="list-group-item">宿泊料金：¥0,000（/日）</li>
                    <a href="#" class="btn btn-secondary">詳細はこちら</a>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">作成日：yyyy/mm/dd</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/default-room copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">施設名</h5>
                <p class="card-text">紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">住所:東京都大阪京都札幌</li>
                    <li class="list-group-item">宿泊料金：¥0,000（/日）</li>
                    <a href="#" class="btn btn-secondary">詳細はこちら</a>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">作成日：yyyy/mm/dd</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/default-room copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">施設名</h5>
                <p class="card-text">紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">住所:東京都大阪京都札幌</li>
                    <li class="list-group-item">宿泊料金：¥0,000（/日）</li>
                    <a href="#" class="btn btn-secondary">詳細はこちら</a>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">作成日：yyyy/mm/dd</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/default-room copy.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">施設名</h5>
                <p class="card-text">紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">住所:東京都大阪京都札幌</li>
                    <li class="list-group-item">宿泊料金：¥0,000（/日）</li>
                    <a href="#" class="btn btn-secondary">詳細はこちら</a>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">作成日：yyyy/mm/dd</small>
              </div>
            </div>
          </div>
        </div>
    </div>
</main>
