<%= render "shared/header"%>

<form class="rooms_new">
    <h2>施設新規登録</h2>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">施設名</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">施設詳細</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="inputPassword3"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">宿泊料金（/日）</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">住所</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">施設画像</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
    <button type="submit" class="btn btn-secondary">キャンセル</button>
</form>
