<%= render "shared/header" %>

<main>
    <div class="card mb-3" style="max-width: 90%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/default-room copy.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">施設名</h5>
            <p class="card-text">説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">住所:東京都大阪京都札幌</li>
                <li class="list-group-item">宿泊料金：¥0,000（/日）</li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-secondary">チェックイン：yyyy/mm/dd</a>
                    <a href="#" class="btn btn-secondary">チェックアウト：yyyy/mm/dd</a>
                    <a href="#" class="btn btn-secondary">人数：人</a>
                </li>
                <li class="list-group-item"><a href="#" class="btn btn-secondary">予約する</a></li>
            </ul>
          </div>
        </div>
        <div class="card-footer bg-transparent border-secondary">作成日：yyyy/mm/dd</div>
      </div>
    </div>
    <a href="index" class="btn btn-secondary">一覧に戻る</a>
</main>
