// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rooms_index_form_btn {
    width: 100%;
}

.card-area {
    width: 80%;
    margin-bottom: 10%;
}

//----------------------------------------------------------------//
.rooms_new {
    margin: 0 auto;
    width: 60%;
    color: #fff;
}

.rooms_new h2 {
    margin-bottom: 10px;
}
