// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
    background-color: #333;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

.main_form {
    display: flex;
    flex-flow: column;
    width: 20%;
    margin-top: 40px;
}

.main_message {
    margin-top: 150px;
}

.main_form_items {
    margin-bottom: 20px;
    height: 40px;
}

.main_form_area {
    color: #fff;
}

.area_list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 30%;
}
